<div class="container">
  <div class="col-1">
    <div class="history">
      <div class="el" *ngFor="let page of pages; index as i" [class.selected-el]="i === currentPageIndex">
        {{page.displayValue}}
      </div>
    </div>
  </div>
  <div class="col-2">
    <h3>History API</h3>
    <br>
    <button (click)="openNewTabWithSameUrl()">Restart</button> (Opens a new tab, with a clean browser history)
    <h5>Properties:</h5>
    <span>length: {{history.length}}</span>
    <br>
    <span>scrollRestoration: {{history.scrollRestoration}}</span>
    <br>
    <h5>Methods:</h5>
    <button class="push-btn" (click)="onPushClick()">Push State</button>
    <div class="navigation-btns">
      <button (click)="onBackClick()" [disabled]="currentPageIndex === 0">back</button>
      <button (click)="onForwardClick()" [disabled]="currentPageIndex === pages.length - 1">forward</button>
    </div>
    <input type="number" value="0" class="navigation-delta" #deltaInput>
    <button (click)="onGo(deltaInput.value)">Go</button>
  </div>
</div>
